<ul class="deployModal unstyled" ng-switch="deploystep">
    <li ng-switch-default ng-hide="isDialog === true">
        <h5 class="umb-infobox-title">No pending changes</h5>

        <p>
            The queue is currently empty, everything has been transfered already - to add new items to the
            queue right click content in the tree on the left and select "queue for transfer"
        </p>

        <button prevent-default class="umb-era-button -blue" ng-click="reloadQueue()">Reload queue</button>
    </li>
    
    <li ng-switch-when="current-queue">

        <h5 class="umb-infobox-title">
            <ng-pluralize count="editorChanges"
                          when="{'0': 'no pending content changes',
                                        '1': '1 content change ready to send to the ',
                                        'other': '{} content changes ready to send to the '}">
            </ng-pluralize>{{environment.destination}} workspace
        </h5>

        <p>Content changes have been queued for transfer, these changes can be transfered directly from here</p>

        <div ng-class="{'fadeout-element': !showDetails && editorChanges > 1}">
            <div ng-repeat="provider in manifest.Providers">
                <p><strong>{{provider.name}}</strong></p>

                <ul class="unstyled">
                    <li ng-if="provider.IncludeAll">
                        <i class="icon-check"></i> Including all items
                    </li>

                    <li ng-repeat="entry in provider.Items">
                        <i class="icon-check"></i> {{entry.Name}} <br />
                        <small class="smallwith" ng-if="entry.IncludeChildren"> including all pages below it</small>
                    </li>
                </ul>
            </div>

            <a href ng-hide="showDetails || editorChanges < 2"
               ng-click="showDetails = true" class="btn btn-link toggle-link">
                <i class="icon-navigation-vertical"></i> See all changes...
            </a>
        </div>

        <button class="umb-era-button -blue" ng-click="package(manifest.id)" prevent-default>Send changes to the {{environment.destination}} workspace</button>

        <a href class="btn btn-link" ng-click="clear(currentTask.id)" ng-hide="isDialog === true">Clear queue</a>
    </li>

    <li ng-switch-when="working">
        <h5 class="umb-infobox-title">{{currentTask.description}}</h5>

        <div class="progress progress-deploy">
            <div class="bar" style="width: {{ (currentTask.done / currentTask.total) * 100 }}%;"></div>
        </div>

        <small>{{currentTask.currentActivity}}</small>

    </li>


    <li ng-switch-when="pre-collect">
        <h5 class="umb-infobox-title">Getting your content ready to be transfered</h5>

        <p>
            We will collect all your changes, and all the things they need to function properly, then we will
            compare these changes with the <strong>{{environment.destination}}</strong> workspace - so we ensure only new content will be deployed
        </p>

        <div class="progress progress-deploy">
            <div class="bar" style="width: {{ (currentTask.done / currentTask.total) * 100 }}%;"></div>
        </div>

        <small>{{currentTask.currentActivity}}</small>
    </li>


    <li class="deployOutput" ng-switch-when="problems">
       
       <deploy-problems is-local-environment="user.isLocalEnvironment" 
                        destination-name="environment.destination"
                        environment-alias="environment.alias">
           <div ng-repeat="provider in notAllowed">
               <p>
                   <strong>{{provider.name}}</strong>
               </p>

               <ul class="deployProblems">
                   <li ng-repeat="item in provider.items">
                       {{item.name}} is out of sync<br />
                       <ul ng-if="item.issues">
                           <li ng-repeat="issue in item.issues">
                               <span ng-show="issue.title">
                                   {{issue.title}}
                                   <small>{{issue.description}}</small>
                               </span>
                               <span ng-hide="issue.title">
                                   {{issue.property}} has been changed
                                   <small>The field '{{issue.property}}' has a different value on the remote website</small>
                               </span>
                           </li>
                       </ul>
                   </li>
               </ul>
           </div>
       </deploy-problems>
       <button prevent-default class="umb-era-button -blue" ng-click="package(currentTask.id)">Retry</button>

    </li>
    
    <li class="deployOutput deployList deployProblems" ng-switch-when="errors">
        <unhandled-deploy-exception message="error.currentActivity" 
                                    exception="error.description" 
                                    stack="error.exception" 
                                    additional-errors="error.errors"
                                    is-handled="error.isHandled" />
        <br/>
        <button prevent-default class="umb-era-button -blue" ng-click="reloadQueue()" ng-hide="isDialog === true">Reload queue</button>
    </li>

    <li ng-switch-when="empty">
        <h5 class="umb-infobox-title">No new changes</h5>
        <p>Everything is up to date, so no need to transfer any changes</p>
        <br />
        <button prevent-default class="umb-era-button -blue" ng-click="reloadQueue()" ng-hide="isDialog === true">Reload queue</button>
    </li>


    <li class="deployOutput deployProblems" ng-switch-when="exception">
        
        <unhandled-deploy-exception is-local-environment="user.isLocalEnvironment" 
                                    message="error.message" 
                                    exception="error.exceptionMessage" 
                                    stack="error.stackTrace"
                                    is-handled="error.isHandled" />
        <br/>
        <button prevent-default class="umb-era-button -blue" ng-click="reloadQueue()" ng-hide="isDialog === true">Reload queue</button>
    </li>


    <li class="deployOutput deployList" ng-switch-when="collect">
        <h5 class="umb-infobox-title">Ready to transfer changes to {{environment.destination}}</h5>

        <p>
            The following changes need to be included for everything to function
            properly, this can be due to dependencies, references and the structure of your website.
        </p>

        <hr />

        <div ng-repeat="(key, value) in deploymentInfo.deployment">
            <p><strong>{{providerName(key).name}}</strong></p>
            <ul>
                <li ng-repeat="item in value">
                    {{item.Name}}
                </li>
            </ul>
        </div>


        <button class="umb-era-button -blue" prevent-default ng-click="deploy(currentTask.id)">Transfer everything now</button>

        <br />

        <small>This will transfer {{deploymentInfo.deployment.length}} changes to the {{environment.destination}} workspace </small>
    </li>


    <li ng-switch-when="deploy">
        <h5>Transfering changes...</h5>
        <p>Please hang on as changes are collected and transfered to {{environment.destination}}</p>

        <div class="progress progress-deploy">
            <div class="bar" style="width: {{ (currentTask.done / currentTask.total) * 100 }}%;"></div>
        </div>

        <small>{{currentTask.currentActivity}}</small>
    </li>

    <li class="deployOutput deployDone" ng-switch-when="done">
        <h5>Transfer complete</h5>
        <p>
            Everything was packaged and sent to the {{environment.destination}} workspace at
            <a target="_blank" href="{{environment.url}}">{{environment.url}}</a>
        </p>

        <button class="umb-era-button -blue" prevent-default ng-click="ok()">Okay</button>
    </li>


    <li class="deployOutput deployDone" ng-switch-when="restored">
        <h5>Restore complete</h5>
        <p>
            Umbraco has downloaded the latest content and media, and restored all the underlying components of the
            website. All types, templates and other dependencies have been updated in this process.
        </p>

        <button class="umb-era-button -blue" prevent-default ng-click="ok()">Okay</button>
    </li>

</ul>
