﻿<div ng-controller="linkedinauth.controller" ng-model="model.value">
    <a class="btn btn-warning" href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id={{ clientId }}&redirect_uri=http://{{ returnUrl }}/umbraco/backoffice/tools/linkedinauthenticate&state=987654321">
        <span ng-show="!tokenHasExpired">Refresh Token</span>
        <span ng-show="tokenHasExpired">Request Token</span>
    </a>
    <small ng-show="!tokenHasExpired">Your token will expire on <span ng-bind="tokenExpireDate | date:'MMMM dd, yyyy h:mm:ss a'"></span></small>
    <small ng-show="tokenHasExpired">Your token has expired!</small>
    <small ng-show="error !== undefined" class="error">Error: {{ errorDescription }}</small>
    
</div>