﻿<div ng-controller="uSplit.abTesting.configurationController" class="usplit">

    <form name="overviewForm" ng-submit="refresh()">
        <umb-panel>
            <umb-header tabs="tabs">

                <div class="umb-headline-editor-wrapper span7">
                    <h1>
                        uSplit - A/B testing
                    </h1>
                </div>

                <div class="span5">
                    <div class="btn-toolbar pull-right umb-btn-toolbar">
                        <button type="submit" data-hotkey="ctrl+r" class="btn btn-success">Refresh</button>
                    </div>
                </div>
            </umb-header>

            <umb-tab-view>
                <umb-tab id="tabconfiguration" rel="configuration" class="active">
                    <umb-pane>
                        <div class="row" ng-include="'/App_Plugins/uSplit/backoffice/shared/loader.html'"></div>
                        <div ng-show="loaded">
                            <div class="row">
                                <div class="alert" ng-show="!connected">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <strong>Warning!</strong> This site is not authenticated with the Google API.
                                </div>
                                <div class="alert" ng-show="!hasAccess">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <strong>Warning!</strong> {{message}}.
                                </div>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    Connected to Google API
                                </div>
                                <div class="span2">
                                    <span ng-show="connected" class="label label-success">Yes</span>
                                    <span ng-show="!connected" class="label label-warning">No</span>
                                </div>
                                <div class="span6">
                                    <button class="btn" type="button" ng-click="reauthorize()">Re-authorize</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    Connected to Google Analytics Account
                                </div>
                                <div class="span2">
                                    <span ng-show="hasAccess" class="label label-success">Yes</span>
                                    <span ng-show="!hasAccess" class="label label-warning">No</span>
                                </div>
                                <div class="span6">
                                    <button class="btn" type="button" ng-click="reauthorize()">Re-authorize</button>
                                </div>
                            </div>
                        </div>
                    </umb-pane>
                </umb-tab>
                <umb-tab id="tabinstructions" rel="instructions" class="active">
                    <umb-pane>
                        <div class="row" ng-include="'/App_Plugins/uSplit/backoffice/abtesting/instructions.html'"></div>
                    </umb-pane>
                </umb-tab>
            </umb-tab-view>
        </umb-panel>
    </form>


</div>
