<p>
    uSplit - A/B Testing for Umbraco
</p>

<h3>Using uSplit</h3>

<h3>Installation</h3>

<p>
    If you are reading these instructions, you have already successfully installed uSplit. For reference, the installation instructions can be found here: <a href="http://www.happyporch.com/installing-usplit/" target="_blank">http://www.happyporch.com/installing-usplit/</a>.
</p>
<p>
    uSplit integrates with <a href="https://developers.google.com/analytics/solutions/experiments">Google Analytics Experiments</a> to provide your site with A/B testing. Your site needs to have Google Analytics installed.
</p>

<hr/>

<p>
    Stay in touch on <a href="http://www.endzone.io/">Endzone's website</a> or at <a href="http://www.happyporch.com">HappyPorch</a>!
</p>