﻿<div ng-controller="DropdownPlus.controller" ng-model="model.value">
    <select ng-model="model.value" style="width:{{model.config.width}}px;">
        <option ng-selected="item.value==model.value" ng-repeat="item in model.config.values" value="{{item.value}}">{{item.value}}</option>
    </select>
</div>