﻿<umb-panel ng-controller="MillenniumPrices.MPEditController">
    <umb-header>
        <div class="span7">
            <h1 class="umb-headline">Upload Price Files</h1>
            <p>Use this section to upload new prices for users on the site and override the defaults</p>
        </div>
    </umb-header>
    <div class="umb-panel-body umb-scrollable row-fluid">
        <div class="umb-pane">
            <div class="umb-el-wrap">
                <umb-control-group label="Select Member" description="User to apply new prices to">
                    <select name="selectedMember" required>
                        <option value="0">Wendell Robertson</option>
                        <option value="1">Reginald.Baldwin@gmail.com</option>
                        <option value="2">Wyanet Warren</option>
                    </select>
                </umb-control-group>
            </div>
                <umb-control-group label="File" description="Csv with prices">
                    <input type="file" class="umb-editor umb-textstring" ngf-select="" ng-model="files" ng-multiple="false" ngf-change="fileSelected(files)" required />
                </umb-control-group>

                <div class="umb-tab-buttons" detect-fold>
                    <div class="btn-group">
                        <button type="button" data-hotkey="ctrl+s" class="btn btn-success" ng-click="uploadFile()">
                            Upload
                        </button>
                    </div>
                </div>
            </div>
    </div>
</umb-panel>