﻿<div ng-controller="TextareaPlus.controller" ng-model="model.value">
    <textarea class="umb-textareaplus" ng-model="model.value" rows="{{model.config.trows}}" style="{{ style }}"></textarea>
</div>