/*
Umbraco layout hacks.
Inserted as plugin to inject these styles to umbraco backoffice.
*/

.umb-property-editor .umb-editor.umb-textarea {
    height: 90px;
}

.umb-property-editor .umb-editor.umb-textstring,
.umb-property-editor .umb-editor.umb-textarea,
.umb-textareaplus {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */    
    
}

.umb-property-editor .umb-editor.umb-textstring {
    padding: 14px 8px;    
}

.umb-property-editor .umb-editor.umb-textarea,
.umb-property-editor .umb-editor.umb-textstring,
.umb-property-editor .umb-editor.umb-dropdown,
.umb-property-editor .umb-editor.umb-number,
.umb-property-editor .umb-editor.umb-rte,
.umb-textareaplus {
    width: 100%;
    min-width: 200px;
    max-width: 500px;
}

.umb-property-editor .umb-editor.umb-dropdown,
.umb-property-editor .umb-editor.umb-number {
    width: 180px;
    min-width: 180px;
}

img.feed-img {
    height: 150px;
}